# Android/Gradle
.gradle/
build/
app/build/
local.properties
*.iml
.idea/
*.apk
*.aab
*.jks
*.keystore
*.key
keystore.properties

# OS
.DS_Store
Thumbs.db

# Misc
*.log
captures/
.externalNativeBuild/
.cxx/
*.hprof

# Env
.env
.env.*
